<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon class="navIcon" name="menu"></ion-icon>
    </button>
    <ion-title>
      <img src="assets/img/logo.png">
    </ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="presentActionSheet()" class="more-action"><ion-icon name="more"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>
  <div class="under-bar"></div>  
</ion-header>


<ion-content padding>
  <ion-label class="bank-label">Bank Details</ion-label>
  <ion-grid *ngIf="bank_details">
    <ion-row center class="bank-row-top">
      <ion-col class="bank-header">
        <p>{{bank_details?.bank_Name}}</p>
      </ion-col>
    </ion-row>
    <ion-row class="bank-row-bot">
      <ion-col class="col-left-bank">
        <p>Type: {{bank_details?.account_Type}}</p>
      </ion-col>
      <ion-col class="col-right-bank">
        <p>No: {{bank_details?.account_Number}}</p>
      </ion-col>
    </ion-row>    
  </ion-grid>

  <ion-list>
    <ion-label class="list-label">Transactions</ion-label>
    <button ion-item *ngFor="let item of transactions">
      <ion-grid>
        <ion-row center class="row-top">
          <ion-col class="col-left-top">
            <p>{{item?.description}}</p>
          </ion-col>
          <ion-col class="col-right-top">
            <ion-item no-lines><ion-badge ion-text color="light-blue" item-right><p>{{item?.transaction_Amount}}</p></ion-badge></ion-item>
          </ion-col>
        </ion-row>

        <ion-row center class="row-bot">
          <ion-col class="col-left-bot">
            <p>{{ item?.effective_Date }}</p>
          </ion-col>
          <ion-col class ="col-right-bot">
            <ion-item no-lines><ion-badge ion-text color="orange-theme" item-right><p>{{item?.balance}}</p></ion-badge></ion-item>
          </ion-col>
        </ion-row>   
      </ion-grid>
    </button>  
  </ion-list>  

</ion-content>
