page-loans {

    background-color: map-get( $colors, gray-two );

    .toolbar {

        .more-action {
            color : white;
        }
    }

    .label {
        margin: 0px;
    }

    .bank-label {
        height: 25px;
        padding-top: 5px;
        text-align: center;
        background-color: map-get( $colors, gray-one );
        border-radius: 3px;
    }

    .bank-row-top {

        height: 30px;

        .bank-header p {
            font-size: 13px;
            font-weight: bold;
            text-align: center;
        }
    }

    .bank-row-bot {

        height: 35px;

        .col-left-bank p {
            font-size: 12px;
            font-weight: bold;
            padding-left: 5px;
        }

        .col-right-bank p {
            font-size: 12px;
            font-weight: bold;
        }
    }


    .list-label {
        height: 25px;
        padding-top: 5px;
        text-align: center;
        background-color: map-get( $colors, gray-one );
        border-radius: 3px;
    }

    .row-top {

        height : 30px;

        .col-left-top p {
            font-size: 12px;
            font-weight: bold;
        }

        .col-right-top p {
            font-size: 12px;
            text-align: end;
            color: white;
        }
    }

    .row-bot {

        height : 35px;

        .col-left-bot p {
            font-size: 12px;
        }

        .col-right-bot p {
            font-size: 12px;
            text-align: end;
            color :  white;
        }
    }


}
