page-profile {

.scroll-content {

    display: flex;
    flex-direction: column;

    ion-grid {
        padding: 0;
    }

    ion-row {
        flex: 1;
    }

    .profile-avatar {
        padding-top: 3%;
        display: block;
        max-width: 40%;
        margin: 0 auto;
        border-radius: 50%;
    }

    .cust-details {
        display: inline;
        padding-top: 3%;
        text-align: center;
        color: map-get( $colors, light-blue );
    }

    .profile-header {
        background-color: map-get( $colors, gray-two );
        border-radius: 3px;
        height: 35px;
        padding-left: 5px;

        .label {
            padding-left: 1em;
        }

        .button {
            padding-left: 185px;
        }
    }
}

}
