
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon class="navIcon" name="menu"></ion-icon>
    </button>
    <ion-title>
      <img src="assets/img/logo.png">
    </ion-title>
  </ion-navbar>
  <div class="under-bar"></div>
</ion-header>

<ion-content padding>
  
  <ion-grid>
    <ion-row center class="profile-header">
      <label ion-text color="light-blue">Profile</label>
      <ion-buttons end>
        <button ion-button icon-only clear (click)="showForm()"><ion-icon name="settings"></ion-icon></button>
      </ion-buttons>
    </ion-row>
    <ion-row center class="prof_vis">

        <ion-avatar class = "profile-avatar">
          <!--<img src = "assets/img/chuck_avatar.jpg">-->
          <img [src] = "imageSrc" on-tap="openGallery()">        
        </ion-avatar>

    </ion-row>
    <ion-row class="cust-details">
      <p>{{cust_profile?.first_name}} {{cust_profile?.surname}}</p>
      <p>{{cust_profile?.email}}</p>
    </ion-row>
  </ion-grid>

  <ion-list no-lines [hidden]="!formVisible">
    
    <ion-list-header>Update Profile</ion-list-header>
    
    <form [formGroup]="updateProfileForm">

      <ion-item>
        <ion-label stacked>Profile Id</ion-label>
        <ion-input type="text" formControlName="profile_Id" [value]="cust_profile.profile_id" [(ngModel)]="cust_profile.profile_id" name="cust_profile.profile_id"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input type="text" formControlName="email" [value]="cust_profile.email" [(ngModel)]="cust_profile.email" name="cust_profile.email"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label stacked>First Name</ion-label>
        <ion-input type="text" formControlName="first_name" [value]="cust_profile.first_name" [(ngModel)]="cust_profile.first_name" name="cust_profile.first_name"></ion-input>
      </ion-item>            

      <ion-item>
        <ion-label stacked>Surname</ion-label>
        <ion-input type="text" formControlName="surname" [value]="cust_profile.surname" [(ngModel)]="cust_profile.surname" name="cust_profile.surname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Id Type</ion-label>
        <ion-select formControlName="id_type">
        <ion-option *ngFor="let type of idType">{{type?.description}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label stacked>Id Number</ion-label>
        <ion-input type="text" formControlName="id_number" [value]="cust_profile.id_number" [(ngModel)]="cust_profile.id_number" name="cust_profile.id_number"></ion-input>
      </ion-item>

    </form>

  </ion-list>

</ion-content>

<!--
{
"profile_id": 4353,
"email": "example@capfin.co.za",
"first_name": "John",
"surname": "Doe",
"id_type": "Passport",
"id_number": "123456789"
}
-->