page-home {

    .home-content {
        
        background-color: map-get( $colors, gray-two );

        .divider {
            padding: 0;
            height: 30px;
            text-align: center
        }
    }

}
