<!--
  Generated template for the Userpage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon class="navIcon" name="menu"></ion-icon>
    </button>
    <ion-title>
      <img src="assets/img/logo.png">
    </ion-title>
                <!--<button clear ion-button ion-text color="orange-theme" (click)="logout()">
              <ion-icon name="log-out"></ion-icon>
            </button>-->
  </ion-navbar>
  <div class="under-bar"></div>
</ion-header>


<ion-content padding class="home-content">

  <ion-card>
    <ion-grid>
      <!--Temp img-->
      <ion-row>
        <img src = "assets/img/temp_progress_circle.jpg">
      </ion-row>
      
      <ion-item-divider ion-text color="light" class="divider">
        <ion-card-header ion-text color="orange-theme" class="card-header">
          Current Loan
        </ion-card-header>
      </ion-item-divider>

      <ion-list no-lines *ngIf = '_thisAccount'>
        <ion-row>
          <ion-col width-40>Account No:</ion-col>
          <ion-col width-50><p ion-text color="light-blue">{{_thisAccount?.account_No}}</p></ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-40>Account Status:</ion-col>
          <ion-col width-50><p ion-text color="light-blue">{{_thisAccount?.account_Status}}</p></ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-40>Balance:</ion-col>
          <ion-col width-50><p ion-text color="light-blue">{{_thisAccount?.balance}}</p></ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-40>Installment:</ion-col>
          <ion-col width-50><p ion-text color="light-blue">{{_thisAccount?.installment}}</p></ion-col>
        </ion-row>                
        <ion-row>
          <ion-col width-40>Next Installment:</ion-col>
          <ion-col width-50><p ion-text color="light-blue">{{_thisAccount?.next_Installment_Date}}</p></ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-40>Product Description:</ion-col>
          <ion-col width-50><p ion-text color="light-blue">{{_thisAccount?.product_Description}}</p></ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-40>Company Bank Account:</ion-col>
          <ion-col width-50><p ion-text color="light-blue">{{_thisAccount?.company_Bank_Account}}</p></ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-40>Company Name:</ion-col>
          <ion-col width-50><p ion-text color="light-blue">{{_thisAccount?.companyName}}</p></ion-col>
        </ion-row>                        
        <ion-row>
          <ion-col width-40>Pay Frequency Id:</ion-col>
          <ion-col width-50><p ion-text color="light-blue">{{_thisAccount?.pay_Frequency_Id}}</p></ion-col>
        </ion-row> 
      </ion-list>
    </ion-grid>
  </ion-card>

</ion-content>

<!--{
  "account_No": 34118,
  "account_Status": "Complete",
  "balance": "0.00",
  "installment": "67.20",
  "next_Installment_Date": "N/A",
  "product_Description": "SACC Product Import",
  "rate": "N/A",
  "pay_Day": 0,
  "company_Bank_Account": "36-955-5823",
  "companyName": "Fundco Pty Ltd [Direct Payments]",
  "pay_Frequency_Id": 0
}-->
