
<ion-header>

  <ion-navbar>
    <ion-title>Apply for a loan</ion-title>
    <ion-buttons start>
      <button ion-button icon-left (click)="prev()"><ion-icon name="arrow-back"></ion-icon> Prev</button>
    </ion-buttons>
    <ion-buttons end>
      <button icon-right (click)="next()">Next<ion-icon name="arrow-forward"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content scroll="true" padding>

  <ion-slides #signupSlider>

    <ion-slide>

      <div class="slide-header">
        <p>How much would you like to borrow?</p>
      </div>

      <p *ngIf="submitAttempt" style="color: #ea6153">Please fill out all details accurately.</p>

      <ion-list no-lines>

        <form [formGroup]="slideOneForm">

          <!--{
            "amount": 500,
            "branch_Id": 1,
            "fortnight": 55.38,
            "product_Id": 20,
            "term": 26,
            "total_Fees": 720,
            "web_Product_Id": 66,
            "week": 27.69
          }-->

          <ion-item>
            <ion-label floating>Loan Amount</ion-label>
            <ion-select (ionChange)="calcLoanTerms($event)">
              <ion-option *ngFor="let item of loanAmount" value="{{item}}">{{item}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label floating>Loan Duration (Weeks)</ion-label>
            <ion-select (ionChange)="calcLoanRepay($event)">
              <ion-option *ngFor="let item of loanTerm" value="{{item}}">{{item}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label stacked>Estimated Loan Repayment (Weekly)</ion-label>
            <ion-input type="text" [value]="weeklyAmnt">{{weeklyAmnt}}</ion-input>
          </ion-item>          
          
          <ion-item style="display:none;">
            <ion-input type="hidden" formControlName="web_Product_Id" [value]="prodId" [(ngModel)]="prodId" name="prodId"></ion-input>  
          </ion-item>             
          
          <ion-item>
            <ion-label floating>Reason For Loan</ion-label>
            <ion-select (ionChange)="setLoanReason($event)">
              <ion-option *ngFor="let item of loanReasonParents" value="{{item.id}}">{{item.description}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label floating>Sub Category</ion-label>
            <ion-select>
              <ion-option *ngFor="let item of loanChildItem">{{item.description}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label stacked>Reason Detail</ion-label>
            <ion-input formControlName="reason_Detail" type="text" [class.invalid]="!slideOneForm.controls.reason_Detail.valid && (slideOneForm.controls.reason_Detail.dirty || submitAttempt)"></ion-input>
          </ion-item>

          <ion-item *ngIf="!slideOneForm.controls.reason_Detail.valid && (slideOneForm.controls.reason_Detail.dirty || submitAttempt)">
            <p>Please provide a reason for your loan application.</p>
          </ion-item>

          <ion-item style="display: none;">
            <ion-input type="hidden" formControlName="loan_Reason_Type_Id" [value]="loanReasonId" [(ngModel)]="loanReasonId" name="loanReasonId"></ion-input>
          </ion-item>

          <div class="slide-header">
            <p>Please introduce yourself</p>
          </div>

          <ion-item>
            <ion-label floating>Title</ion-label>
            <ion-select formControlName="title_Id">
              <ion-option *ngFor="let item of titles" value="{{item.id}}" [class.invalid]="!slideOneForm.controls.title_Id.valid && (slideOneForm.controls.title_Id.dirty || submitAttempt)">{{item.description}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="!slideOneForm.controls.title_Id.valid && (slideOneForm.controls.title_Id.dirty || submitAttempt)">
            <p>Please select a title.</p>  
          </ion-item>         

          <ion-item>
            <ion-label stacked>First Name</ion-label>
            <ion-input formControlName="first_Name" type="text" [class.invalid]="!slideOneForm.controls.first_Name.valid && (slideOneForm.controls.first_Name.dirty || submitAttempt)"></ion-input>            
          </ion-item>

          <ion-item *ngIf="!slideOneForm.controls.first_Name.valid && (slideOneForm.controls.first_Name.dirty || submitAttempt)">
            <p>Please enter your name.</p>  
          </ion-item> 

          <ion-item>
            <ion-label stacked>Surname</ion-label>
            <ion-input formControlName="surname" type="text" [class.invalid]="!slideOneForm.controls.surname.valid && (slideOneForm.controls.surname.dirty || submitAttempt)"></ion-input>            
          </ion-item>

          <ion-item *ngIf="!slideOneForm.controls.surname.valid && (slideOneForm.controls.surname.dirty || submitAttempt)">
            <p>Please enter your surname.</p>  
          </ion-item> 

          <ion-item>
            <ion-label stacked>Date of birth</ion-label>
            <ion-datetime formControlName="date_Of_Birth" displayFormat="DD/MM/YYYY" [class.invalid]="!slideOneForm.controls.date_Of_Birth.valid && (slideOneForm.controls.date_Of_Birth.dirty || submitAttempt)"></ion-datetime>            
          </ion-item>

          <ion-item *ngIf="!slideOneForm.controls.date_Of_Birth.valid && (slideOneForm.controls.date_Of_Birth.dirty || submitAttempt)">
            <p>Please select your date of birth.</p>
          </ion-item>

          <ion-item>
            <ion-label floating>Id Type</ion-label>
            <ion-select formControlName="iD_Type_Id">
              <ion-option *ngFor="let item of idType" value="{{item.id}}" [class.invalid]="!slideOneForm.controls.iD_Type_Id.valid && (slideOneForm.controls.iD_Type_Id || submitAttempt)">{{item.description}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="!slideOneForm.controls.iD_Type_Id.valid && (slideOneForm.controls.iD_Type_Id.dirty || submitAttempt)">
            <p>Please select your Identification type.</p>
          </ion-item>  

          <ion-item>
            <ion-label stacked>Id Number</ion-label>
            <ion-input formControlName="id_Number" type="text" [class.invalid]="!slideOneForm.controls.id_Number.valid && (slideOneForm.controls.id_Number.dirty || submitAttempt)"></ion-input>
          </ion-item>

          <ion-item *ngIf="!slideOneForm.controls.id_Number.valid && (slideOneForm.controls.id_Number.dirty || submitAttempt)">
            <p>Identification number, no longer than 13 digits.</p>
          </ion-item>

          <ion-item>
            <ion-label stacked>Mobile Number</ion-label>
            <ion-input formControlName="mobile_Number" type="text" [class.invalid]="!slideOneForm.controls.mobile_Number.valid && (slideOneForm.controls.mobile_Number.dirty || submitAttempt)"></ion-input>
          </ion-item>

          <ion-item *ngIf="!slideOneForm.controls.mobile_Number.valid && (slideOneForm.controls.mobile_Number.dirty || submitAttempt)">
            <p>Mobile number, no longer than 10 digits.</p>
          </ion-item> 

          <ion-item>
            <ion-label stacked>Home Number</ion-label>
            <ion-input formControlName="home_Tel_Number" type="text" [class.invalid]="!slideOneForm.controls.home_Tel_Number.valid && (slideOneForm.controls.home_Tel_Number.dirty || submitAttempt)"></ion-input>
          </ion-item>

          <ion-item *ngIf="!slideOneForm.controls.home_Tel_Number.valid && (slideOneForm.controls.home_Tel_Number.dirty || submitAttempt)">
            <p>Home number, no longer than 10 digits.</p>
          </ion-item>

          <ion-item>
            <ion-label stacked>Email Address</ion-label>
            <ion-input formControlName="email_Address" type="text" [class.invalid]="!slideOneForm.controls.email_Address.valid && (slideOneForm.controls.email_Address.dirty || submitAttempt)"></ion-input>
          </ion-item>

          <ion-item *ngIf="!slideOneForm.controls.email_Address.valid && (slideOneForm.controls.email_Address.dirty || submitAttempt)">
            <p>Please enter a valid email address.</p>
          </ion-item>                                                                                      
          
        </form>

      </ion-list>

    </ion-slide>

    <ion-slide>

      <div class="slide-header">
        <p>What's your residential address?</p>
      </div>

      <p *ngIf="submitAttempt" style="color: #ea6153">Please fill out all details accurately.</p>      

      <ion-list no-lines>
        
        <form [formGroup]="slideTwoForm">

          <ion-item>
            <ion-label floating>Residential Status</ion-label>
            <ion-select formControlName="residential_Status_Id">
              <ion-option *ngFor="let item of residentialStatus" [class.invalid]="!slideTwoForm.controls.valid && (slideTwoForm.controls.residential_Status_Id.dirty || submitAttempt)" >{{item?.description}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="!slideTwoForm.controls.residential_Status_Id.valid && (slideTwoForm.controls.residential_Status_Id.dirty || submitAttempt)">
            <p>Please select your residential status.</p>
          </ion-item>

          <ion-item>
            <ion-label floating>Time at Address</ion-label>
            <ion-select formControlName="time_At_Address_Id">
              <ion-option *ngFor="let item of timeAtAddress" [class.invalid]="!slideTwoForm.controls.time_At_Address_Id.valid && (slideTwoForm.controls.time_At_Address_Id.dirty || submitAttempt)">{{item?.description}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="!slideTwoForm.controls.time_At_Address_Id.valid && (slideTwoForm.controls.time_At_Address_Id.dirty || submitAttempt)">
            <p>How long have you been living here.</p>
          </ion-item>
          
          <ion-label stacked>Enter your address</ion-label>
          <ion-searchbar
            [value]="address"
            [showCancelButton]="true"
            (ionInput)="search($event)"
            placeholder="Start typing and select...">
          </ion-searchbar>
          <ion-list no-lines [hidden]="shouldHide">
            <ion-item *ngFor="let item of address" (click)="chooseItem(item)">
              {{item}}
            </ion-item>
          </ion-list>

          <p id="address-eg"><strong>e.g.</strong> 17 Mile Street Lexton Vic 6430 <strong>OR</strong> (for units) 5/17 Mile Street Lexton Vic 6430</p>

          <ion-item *ngIf="address_valid">
            <ion-label>Address Valid</ion-label>
            <ion-checkbox ion-text color="green-theme" checked="true"></ion-checkbox>
          </ion-item>  

          <ion-item style="display:none;">
            <ion-input type="hidden" formControlName="unit" [value]="customerAddress.UnitNumber" [(ngModel)]="customerAddress.UnitNumber" name="customerAddress.UnitNumber"></ion-input>  
          </ion-item>

          <ion-item style="display:none;">
            <ion-input type="hidden" formControlName="street_Number" [value]="customerAddress.Number" [(ngModel)]="customerAddress.Number" name="customerAddress.Number"></ion-input>  
          </ion-item>

          <ion-item style="display:none;">
            <ion-input type="hidden" formControlName="street_Name" [value]="customerAddress.Street" [(ngModel)]="customerAddress.Street" name="customerAddress.Street"></ion-input>  
          </ion-item>

          <ion-item style="display:none;">
            <ion-input type="hidden" formControlName="street_Type" [value]="customerAddress.StreetType" [(ngModel)]="customerAddress.StreetType" name="customerAddress.StreetType"></ion-input>  
          </ion-item>

          <ion-item style="display:none;">
            <ion-input type="hidden" formControlName="suburb" [value]="customerAddress.Suburb" [(ngModel)]="customerAddress.Suburb" name="customerAddress.Suburb"></ion-input>  
          </ion-item>

          <ion-item style="display:none;">
            <ion-input type="hidden" formControlName="state" [value]="customerAddress.State" [(ngModel)]="customerAddress.State" name="customerAddress.State"></ion-input>  
          </ion-item>

          <ion-item style="display:none;">
            <ion-input type="hidden" formControlName="post_Code" [value]="customerAddress.Postcode" [(ngModel)]="customerAddress.Postcode" name="customerAddress.Postcode"></ion-input>  
          </ion-item>

          <!--Temporary-->
          <ion-item style="display:none;">
            <ion-input type="hidden" formControlName="landlord_Name" value="null"></ion-input>  
          </ion-item> 

          <ion-item style="display:none;">
            <ion-input type="hidden" formControlName="landlord_Contact_Number" value="null"></ion-input>  
          </ion-item>                                                                                                 
          <!-- -->
          
          <ion-item text-wrap>
            <ion-label class="checkbox-label">I have read the credit guide. I have read and accept the general, consumer credit and hardship privacy policy of Capfin.</ion-label>
            <ion-checkbox ion-text color="orange-theme" checked="false" required></ion-checkbox>
          </ion-item>

          <ion-item text-wrap>
            <ion-label class="checkbox-label">I acknowledge, consent and authorise Capfin with reference to electronic communications, my credit information, my identity and marketing.</ion-label>
            <ion-checkbox ion-text color="orange-theme" checked="false" required></ion-checkbox>
          </ion-item>

        </form>
      </ion-list>

    </ion-slide>
    
    <ion-slide>

      <div class="slide-header">
        <p>What are your employment and income details?</p>
      </div>

      <p *ngIf="submitAttempt" style="color: #ea6153">Please fill out all details accurately.</p>      

      <ion-list no-lines>

        <form [formGroup]="slideThreeForm">
        
          <ion-item>
            <ion-label floating>Employment Status</ion-label>
            <ion-select formControlName="employment_Status_Id">
              <ion-option *ngFor="let item of employmentStatus" value="{{item.id}}" [class.invalid]="!slideThreeForm.controls.employment_Status_Id.valid && (slideThreeForm.controls.employment_Status_Id.dirty || submitAttempt)">{{item.description}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="!slideThreeForm.controls.employment_Status_Id.valid && (slideThreeForm.controls.employment_Status_Id.dirty || submitAttempt)">
            <p>Please fill in your employment status.</p>
          </ion-item>          

          <ion-item>
            <ion-label stacked>Name of Employer</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Employer Contact Number</ion-label>
            <ion-input type="text" formControlName="employer_Contact_Number" [class.invalid]="!slideThreeForm.controls.employer_Contact_Number.valid && (slideThreeForm.controls.employer_Contact_Number.dirty || submitAttempt)"></ion-input>
          </ion-item>

          <ion-item *ngIf="!slideThreeForm.controls.employer_Contact_Number.valid && (slideThreeForm.controls.employer_Contact_Number.dirty || submitAttempt)">
            <p>Please provide your employers contact number.</p>
          </ion-item>            

          <ion-item>
            <ion-label floating>Length of Employment</ion-label>
            <ion-select formControlName="length_Of_Employment_Id">
              <ion-option *ngFor="let item of lengthEmploy" value="{{item.id}}" [class.invalid]="!slideThreeForm.controls.length_Of_Employment_Id.valid && (slideThreeForm.controls.length_Of_Employment_Id.dirty || submitAttempt)">{{item.description}}</ion-option>
            </ion-select>
          </ion-item> 

          <ion-item *ngIf="!slideThreeForm.controls.length_Of_Employment_Id.valid && (slideThreeForm.controls.length_Of_Employment_Id.dirty || submitAttempt)">
            <p>Please provide your length of employment.</p>
          </ion-item> 

          <ion-item>
            <ion-label floating>Income Frequency</ion-label>
            <ion-select formControlName="income_Frequency_Id">
              <ion-option *ngFor="let item of incomeFrequency" value="{{item.id}}" [class.invalid]="!slideThreeForm.controls.income_Frequency_Id.valid && (slideThreeForm.controls.income_Frequency_Id.dirty || submitAttempt)">{{item.description}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="!slideThreeForm.controls.income_Frequency_Id.valid && (slideThreeForm.controls.income_Frequency_Id.dirty || submitAttempt)">
            <p>Please provide your income frequency.</p>
          </ion-item>           

          <ion-item>
            <ion-label stacked>Next Pay Date</ion-label>
            <ion-datetime formControlName="next_Pay_Date" displayFormat="DD/MM/YYYY" [class.invalid]="!slideThreeForm.controls.next_Pay_Date.valid && (slideThreeForm.controls.next_Pay_Date.dirty || submitAttempt)"></ion-datetime>            
          </ion-item>

          <ion-item *ngIf="!slideThreeForm.controls.next_Pay_Date.valid && (slideThreeForm.controls.next_Pay_Date.dirty || submitAttempt)">
            <p>Please provide your next pay date.</p>
          </ion-item> 

          <ion-item>
            <ion-label stacked>Employee Number</ion-label>
            <ion-input type="text" formControlName="employee_Number" [class.invalid]="!slideThreeForm.controls.employee_Number.valid && (slideThreeForm.controls.employee_Number.dirty || submitAttempt)"></ion-input>
          </ion-item>

          <ion-item *ngIf="!slideThreeForm.controls.employee_Number.valid && (slideThreeForm.controls.employee_Number.dirty || submitAttempt)">
            <p>Please provide your employee number.</p>
          </ion-item> 

          <!--<ion-list no-lines radio-group formControlName="receive_Centrelink_Benefits">
            <ion-list-header stacked>Do you receive Centrelink Benefits?</ion-list-header>
            <ion-buttons>
              <button ion-button color="orange-theme"><ion-radio value="Yes"></ion-radio>Yes</button>
              <button ion-button color="orange-theme"><ion-radio value="No"></ion-radio>No</button> 
            </ion-buttons>                        
          </ion-list>          -->

          <div class="radio-buttons">
            <ion-label class="radio-label">Do you receive Centrelink Benefits?</ion-label>
            <input type="radio" id="receive_Centrelink_Benefits-yes" value="Yes" formControlName="receive_Centrelink_Benefits" [class.invalid]="!slideThreeForm.controls.receive_Centrelink_Benefits.valid && (slideThreeForm.controls.receive_Centrelink_Benefits.dirty || submitAttempt)"/>
            <label for="receive_Centrelink_Benefits-yes">Yes</label>
            <input type="radio" id="receive_Centrelink_Benefits-no" value="No" formControlName="receive_Centrelink_Benefits" [class.invalid]="!slideThreeForm.controls.receive_Centrelink_Benefits.valid && (slideThreeForm.controls.receive_Centrelink_Benefits.dirty || submitAttempt)"/>
            <label for="receive_Centrelink_Benefits-no">No</label>
          </div>

          <ion-item *ngIf="!slideThreeForm.controls.receive_Centrelink_Benefits.valid && (slideThreeForm.controls.receive_Centrelink_Benefits.dirty || submitAttempt)">
            <p>Please select an option.</p>
          </ion-item> 

          <div class="radio-buttons">
            <ion-label class="radio-label">Are you the sole income earner?</ion-label>
            <input type="radio" id="sole-income-earner-yes" value="Yes" formControlName="sole_Income_Earner" [class.invalid]="!slideThreeForm.controls.sole_Income_Earner.valid && (slideThreeForm.controls.sole_Income_Earner.dirty || submitAttempt)"/>
            <label for="sole-income-earner-yes">Yes</label>
            <input type="radio" id="sole-income-earner-no" value="No" formControlName="sole_Income_Earner" [class.invalid]="!slideThreeForm.controls.sole_Income_Earner.valid && (slideThreeForm.controls.sole_Income_Earner.dirty || submitAttempt)"/>
            <label for="sole-income-earner-no">No</label>
          </div>

          <ion-item *ngIf="!slideThreeForm.controls.sole_Income_Earner.valid && (slideThreeForm.controls.sole_Income_Earner.dirty || submitAttempt)">
            <p>Please select an option.</p>
          </ion-item> 

          <ion-item>
            <ion-label floating>Marital Status</ion-label>
            <ion-select formControlName="marital_Status_Id">
              <ion-option *ngFor="let item of maritalStatus" value="{{item.id}}" [class.invalid]="!slideThreeForm.controls.marital_Status_Id.valid && (slideThreeForm.controls.marital_Status_Id.dirty || submitAttempt)">{{item.description}}</ion-option>
            </ion-select>
          </ion-item>          

          <ion-item *ngIf="!slideThreeForm.controls.marital_Status_Id.valid && (slideThreeForm.controls.marital_Status_Id.dirty || submitAttempt)">
            <p>Please provide your marital status.</p>
          </ion-item> 

          <ion-item>
            <ion-label floating>No. of dependents</ion-label>
            <ion-select formControlName="number_Of_Dependents_Id">
              <ion-option *ngFor="let item of numDependents" value="{{item.id}}" [class.invalid]="!slideThreeForm.controls.number_Of_Dependents_Id.valid && (slideThreeForm.controls.number_Of_Dependents_Id.dirty || submitAttempt)">{{item.description}}</ion-option>
            </ion-select>
          </ion-item>         

          <ion-item *ngIf="!slideThreeForm.controls.number_Of_Dependents_Id.valid && (slideThreeForm.controls.number_Of_Dependents_Id.dirty || submitAttempt)">
            <p>Please provide your number of dependents.</p>
          </ion-item> 

          <div class="slide-header">
            <p>Weekly Income</p>
          </div>  

          <ion-item>
            <ion-label stacked>What is your weekly income?</ion-label>
            <ion-input type="text" formControlName="work_Income" [class.invalid]="!slideThreeForm.controls.work_Income.valid && (slideThreeForm.controls.work_Income.dirty || submitAttempt)"></ion-input>
          </ion-item>

          <ion-item *ngIf="!slideThreeForm.controls.work_Income.valid && (slideThreeForm.controls.work_Income.dirty || submitAttempt)">
            <p>Please provide your weekly income.</p>
          </ion-item> 

          <ion-item>
            <ion-label stacked>Weekly Government Benefits income?</ion-label>
            <ion-input type="text" formControlName="government_Benefits_Income" [class.invalid]="!slideThreeForm.controls.government_Benefits_Income.valid && (slideThreeForm.controls.government_Benefits_Income.dirty || submitAttempt)"></ion-input>
          </ion-item>

          <ion-item *ngIf="!slideThreeForm.controls.government_Benefits_Income.valid && (slideThreeForm.controls.government_Benefits_Income.dirty || submitAttempt)">
            <p>Please provide your weekly government benefits income.</p>
          </ion-item> 

          <div class="slide-header">
            <p>Weekly Expenses</p>
          </div>

          <ion-item>
            <ion-label stacked>Rent/Mortgage</ion-label>
            <ion-input type="text" formControlName="rent_Or_Mortgage" [class.invalid]="!slideThreeForm.controls.rent_Or_Mortgage.valid && (slideThreeForm.controls.rent_Or_Mortgage.dirty || submitAttempt)"></ion-input>
          </ion-item>

          <ion-item *ngIf="!slideThreeForm.controls.rent_Or_Mortgage.valid && (slideThreeForm.controls.rent_Or_Mortgage.dirty || submitAttempt)">
            <p>Please provide your rent or mortgage costs.</p>
          </ion-item> 

          <ion-item>
            <ion-label stacked>Food</ion-label>
            <ion-input type="text" formControlName="food" [class.invalid]="!slideThreeForm.controls.food.valid && (slideThreeForm.controls.food.dirty || submitAttempt)"></ion-input>
          </ion-item>

          <ion-item *ngIf="!slideThreeForm.controls.food.valid && (slideThreeForm.controls.food.dirty || submitAttempt)">
            <p>Please provide your food expenses.</p>
          </ion-item> 

          <ion-item>
            <ion-label stacked>Loan Repayments</ion-label>
            <ion-input type="text" formControlName="loan_Repayments" [class.invalid]="!slideThreeForm.controls.loan_Repayments.valid && (slideThreeForm.controls.loan_Repayments.dirty || submitAttempt)"></ion-input>
          </ion-item>

          <ion-item *ngIf="!slideThreeForm.controls.loan_Repayments.valid && (slideThreeForm.controls.loan_Repayments.dirty || submitAttempt)">
            <p>Please provide your loan repayment expenses.</p>
          </ion-item> 

          <ion-item>
            <ion-label stacked>Other living expenses</ion-label>
            <ion-input type="text" formControlName="other_Living_Expenses" [class.invalid]="!slideThreeForm.controls.other_Living_Expenses.valid && (slideThreeForm.controls.other_Living_Expenses.dirty || submitAttempt)"></ion-input>
          </ion-item>                                                            

          <ion-item *ngIf="!slideThreeForm.controls.other_Living_Expenses.valid && (slideThreeForm.controls.other_Living_Expenses.dirty || submitAttempt)">
            <p>Please provide any other living expenses.</p>
          </ion-item> 

        </form>
        
      </ion-list>

      <button class="btn-submit" ion-button round (click)="save()" ion-text color="orange-theme">Submit</button>

    </ion-slide>
  
  </ion-slides>

</ion-content>
