.ios, .md {

    page-sign-up {

        background-color: map-get( $colors, gray-two );

        .toolbar {
            text-align: center;


            .back-button {
                color: white;
            }
        }
        
        p {
            font-size: 0.8em;
            color: #d2d2d2;
        }
 
        .swiper-slide {
            display: block;
            width: 100%!important;
        }
 
        ion-label, .select-text {
            margin-left: 10px;
        }
 
        ion-input, ion-select {
            background-color: #f2f2f2;
            padding: 5px 10px;
        }

        input.text-input {
            margin : 0px;
            padding: 0px;
        }
 
        .invalid {
            border: 1px solid #ea6153;
        }
 
        .slide-header {
            background-color: map-get( $colors , orange-theme );
            padding: 1px;
            p {
                color: white;
              }
        }
        
        .ions-slides {
            height: auto;
        }

        .slide-zoom {
            height: 100%;
            overflow-y: auto;    
        }
        .scroll-content{
            padding:16px 0!important;
            overflow-x: inherit;
            overflow-y: inherit;
        }

        .checkbox-label {
            font-size: 10px; 
        }

        .btn-submit {
            color: white;
        }

        .radio-buttons input[type="radio"]{
             display: none;
        }

        .radio-buttons input[type="radio"] + label{
            background-color: map-get( $colors, light-blue );
            padding: 5px 20px;
            color: #fff;
            margin: 0 10px;
            border-radius: 3px;
        }

        .radio-buttons input[type="radio"]:checked + label{
            background-color: map-get( $colors, orange-theme );
        }

        .radio-label {
            color : #333333;
            font-size: 12px;
        }

        ion-datetime.datetime {
            background-color: map-get( $colors, gray-two );
        }

        #address-eg {
            color: #333333;
            font-size: 12px;
            padding: 5px 10px;
        }

    }

}


