// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.activeHighlight {
    background-color: map-get($colors, orange-theme);
}

.toolbar {

    padding-top: 3%;

    .toolbar-background {
        background-color: map-get($colors, dark-blue );
    }

    .toolbar-text-color {
        color : white;
    }

    .navIcon {
        // color: white !important;
        color: map-get($colors, orange-theme )
    }

    .toolbar-title.toolbar-title-md {
        color: white !important;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }

}

.under-bar {
    background-color: map-get( $colors , orange-theme );
    height: 0.5em;
}

.prof-avatar {
    width: 75%;
    height: 75%
}

.prof-name {
    font-size: 16px;

    p {
        color: map-get( $colors , light-blue );
    }
}


