<ion-menu id = "myMenu" [content]="content" persistent = "true">
  <ion-header>
    <ion-toolbar>
      <ion-grid>
        <ion-row center>
          <ion-col width-33>
          </ion-col>
          <ion-col width-33>
            <ion-title ion-text color = 'secondary'>Menu</ion-title>
          </ion-col>
          <ion-col width-33>
            <button clear ion-button ion-text color="orange-theme" (click)="logout()">
              <ion-icon name="log-out"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  <div class="under-bar"></div>  
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row class="profile-container">
        <ion-col width-50>
          <ion-avatar class = "prof-avatar">
            <img src = "assets/img/chuck_avatar.jpg">
            <!--<img [src]="profilePicture">-->
          </ion-avatar>
        </ion-col>
        <ion-col width-50 class = "prof-name" center>
            <p *ngIf="profile">{{profile.first_name}} {{profile.surname}}</p>
          <!--<ion-row baseline class="profile-edit">
              <button ion-button ion-text color="light-blue" clear><ion-icon name="open"> Edit Profile</ion-icon></button>
          </ion-row>-->
        </ion-col>  
      </ion-row>
    </ion-grid>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" [class.activeHighlight]="checkActive(p)" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
    <!--<button ion-button color='orange-theme' (click)='logout()'>Log Out</button>-->
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>