<!--
  Generated template for the Applications page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon class="navIcon" name="menu"></ion-icon>
    </button>
    <ion-title>
      <img src="assets/img/logo.png">
    </ion-title>
  </ion-navbar>
  <div class="under-bar"></div>  
</ion-header>


<ion-content padding>

</ion-content>
